In [1]:
import numpy as np
import pandas as pd 
import sklearn

In [2]:
#Importing data and removing useless columns
DF_House = pd.read_csv("train.csv")
DF_House.drop(columns=["Id"],inplace=True)
DF_House.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
#Handling the missing data 
DF_House.drop(columns=DF_House.columns[DF_House.isnull().sum().values>200],inplace=True)
DF_House.dropna(inplace=True)
DF_House.isnull().sum().values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0])

In [4]:
#Replacing strings with numerical values
obj_to_replace = DF_House["MSZoning"].dtype

for column in DF_House.columns:
    if DF_House[column].dtype == obj_to_replace:
        uniques = np.unique(DF_House[column].values)
        for idx,item in enumerate(uniques):
            DF_House[column] = DF_House[column].replace(item,idx)
            
DF_House.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,3,8450,1,3,3,0,4,0,5,...,0,0,0,0,0,2,2008,8,4,208500
1,20,3,9600,1,3,3,0,2,0,24,...,0,0,0,0,0,5,2007,8,4,181500
2,60,3,11250,1,0,3,0,4,0,5,...,0,0,0,0,0,9,2008,8,4,223500
3,70,3,9550,1,0,3,0,0,0,6,...,272,0,0,0,0,2,2006,8,0,140000
4,60,3,14260,1,0,3,0,2,0,15,...,0,0,0,0,0,12,2008,8,4,250000

In [5]:
#Adding bias column
DF_House["bias"] = np.ones(DF_House.shape[0])
DF_House.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,bias
0,60,3,8450,1,3,3,0,4,0,5,...,0,0,0,0,2,2008,8,4,208500,1.0
1,20,3,9600,1,3,3,0,2,0,24,...,0,0,0,0,5,2007,8,4,181500,1.0
2,60,3,11250,1,0,3,0,4,0,5,...,0,0,0,0,9,2008,8,4,223500,1.0
3,70,3,9550,1,0,3,0,0,0,6,...,0,0,0,0,2,2006,8,0,140000,1.0
4,60,3,14260,1,0,3,0,2,0,15,...,0,0,0,0,12,2008,8,4,250000,1.0

In [6]:
#Dividing the data 
DF_House= DF_House.sample(frac=1).reset_index(drop=True)
DF_House_train = DF_House[:-100]
DF_House_test = DF_House[-100:]
Y_train = DF_House_train["SalePrice"].values
X_train = DF_House_train.drop(columns=["SalePrice"]).values
Y_test = DF_House_test["SalePrice"].values
X_test = DF_House_test.drop(columns=["SalePrice"]).values

print(X_train.shape)
print(np.mean(Y_train))

(1238, 74)
187130.53069466882

In [7]:
#Training using sklearn linear regression
import sklearn 
from sklearn.linear_model import LinearRegression

LR = LinearRegression()
LR.fit(X_train,Y_train)
print(f"--> The weights are: \n {LR.coef_}")

Y_predict = LR.predict(X_test)
print(f"--> The predictions are: \n {Y_predict}")
print(f"--> The Real Prices are: \n {Y_test}")

#Calculating the Mean Absolute Error
from sklearn.metrics import mean_absolute_error
print(f"--> The MAE = \n {mean_absolute_error(Y_test,Y_predict)}")

--> The weights are:
 [-1.43874894e+02 -1.74314650e+03  3.94258355e-01  4.67466942e+04
 -1.41884604e+03  4.45172539e+03 -4.93015316e+04  3.74060361e+02
  6.34074622e+03  3.63445903e+02 -2.45953540e+02 -8.52130062e+03
 -5.81059103e+02 -1.21285164e+03  1.24819135e+04  4.81365905e+03
  2.25554527e+02  2.47180644e+01  2.71191117e+03  4.53472346e+03
 -1.14196482e+03  5.01723735e+02  4.24104613e+03  2.95289855e+01
 -7.41332547e+03 -5.18766814e+02  1.91583559e+03 -9.26644538e+03
  2.99565111e+03 -3.40827555e+03 -1.29732352e+03  2.53994896e+00
  2.95566953e+02  4.39554331e+00 -3.16945331e+00  3.76603893e+00
 -4.09535352e+03 -6.61776686e+02  1.95658557e+03 -1.74454135e+02
  1.55829603e+01  2.00216436e+01 -4.00302311e+00  3.16015807e+01
  6.62542189e+03  7.61503563e+02  1.88940529e+03 -3.35690554e+03
 -3.78372029e+03 -1.90370913e+04 -8.31611970e+03  2.94481394e+03
  4.07773053e+03  4.38800523e+03  6.39183442e+02 -1.23766040e+02
 -5.18857233e+02  1.34605905e+04  1.16197010e+00 -5.64048755e+02
  1.45283313e+03  2.23699810e+03  1.69941377e+01 -2.51887382e+01
  5.58634595e+00  2.67834741e+01  4.77383699e+01 -2.73117139e+01
  7.32942878e-02 -1.49335697e+02 -1.06121939e+03 -4.21159179e+02
  2.51550591e+03  0.00000000e+00]
--> The predictions are:
 [229413.78100602 135125.54345255 151642.71785766 197480.35968338
 178000.77445766 292982.10538161 193144.56774842 165420.28269046
  97327.23653647 112258.39122247 181027.18284201 164794.56428421
 134956.62009106  16181.05857737  76271.30700604 339745.23240341
 102726.9832688  278098.51404956 113729.42185803 276191.97644857
 131850.33747651 154520.23799877 225677.89413223 206533.75512584
 136719.42315761 133389.66039241 246900.62401374 130096.20695258
 167229.53158598 245296.74534596  76350.88770467 222936.83217125
 144268.191548    81720.35655606 162870.71918322 241958.59971814
 200874.60544756 198305.64054688 350488.7101866  148732.55668347
 320402.84891402  92620.64555845 126806.18499744 158810.25101805
 288730.03515698 228569.20554189  86331.34624278 295340.74215473
 186036.81228667 172210.98519473 293673.85544915 392590.26246158
 154129.6946715  175201.45219313 119438.24600205 243277.97807105
 166248.32698227  78751.86226738 219638.80273124 123854.43782377
 122463.41260021 187258.08597395 228945.04723792 147667.85736776
 251752.36786125 263754.20007414 169460.89833534 160622.16437157
 122675.58325281 177216.41266828  95292.47957755 110584.93103326
 127036.03613319 172282.97460514 143723.88077215 172175.65648408
 127404.18457781 249978.91709228 242690.4786672  199563.49772091
 192196.88934628 202349.97278582 137299.4778923  116187.53339193
  71182.10206332 121955.00381177 128640.87900338 198411.32485383
 164354.06000291 141851.24642382 229189.68348327 298533.44625143
 144847.98594175 170230.46383736 134114.5778417  178172.73017696
 159682.16576482 212870.0690107  236888.47816194 197158.39701328]
--> The Real Prices are:
 [227680 125000 117500 190000 163000 281213 185000 181000 115000 119900
 160000 223500 129000  60000 110000 394432 118500 286000 135000 260000
 138887 144000 213250 190000 148000 133000 239000 124000 165000 200000
 110000 241000 176000  40000 175000 245500 201000 174000 415298 142500
 350000 115000 137500 164500 395000 202900  73000 301500 173000 170000
 239000 451950 180000 190000 122000 233230 173900  79500 213500 135000
 136500 175000 239900 159500 248328 294000 149500 186700 154900 172500
 120000  79900 147000 179500 150000 162000 123000 271000 275000 175500
 170000 188000 133000 128500  82000 120000 144000 175000 146800 124000
 212000 341000 135000 171500 140000 158000 128000 208500 232000 185000]
--> The MAE =
 18289.990203119738

In [8]:
#Training using the Linear Regression with only NumPy
W = np.linalg.pinv(X_train)@Y_train
print(f"--> The weights are: {W}")

Y_predict = np.dot(X_test,W)
print(f"--> The predictions are: \n {Y_predict}")
print(f"--> The Real Prices are: \n {Y_test}")

#Calculating the Mean Absolute Error
Error = np.mean(np.abs(Y_predict - Y_test))
print(f"--> The MAE = \n {Error}")

--> The weights are: [-1.43874894e+02 -1.74314650e+03  3.94258355e-01  4.67466942e+04
 -1.41884604e+03  4.45172539e+03 -4.93015316e+04  3.74060361e+02
  6.34074622e+03  3.63445903e+02 -2.45953540e+02 -8.52130062e+03
 -5.81059103e+02 -1.21285164e+03  1.24819135e+04  4.81365905e+03
  2.25554527e+02  2.47180644e+01  2.71191117e+03  4.53472346e+03
 -1.14196482e+03  5.01723735e+02  4.24104613e+03  2.95289855e+01
 -7.41332547e+03 -5.18766814e+02  1.91583559e+03 -9.26644538e+03
  2.99565111e+03 -3.40827555e+03 -1.29732352e+03  2.53993054e+00
  2.95566953e+02  4.39552489e+00 -3.16947173e+00  3.76605735e+00
 -4.09535352e+03 -6.61776686e+02  1.95658557e+03 -1.74454135e+02
  1.55829391e+01  2.00216224e+01 -4.00304433e+00  3.16016019e+01
  6.62542189e+03  7.61503563e+02  1.88940529e+03 -3.35690554e+03
 -3.78372029e+03 -1.90370913e+04 -8.31611970e+03  2.94481394e+03
  4.07773053e+03  4.38800523e+03  6.39183442e+02 -1.23766040e+02
 -5.18857233e+02  1.34605905e+04  1.16197010e+00 -5.64048755e+02
  1.45283313e+03  2.23699810e+03  1.69941377e+01 -2.51887382e+01
  5.58634595e+00  2.67834741e+01  4.77383699e+01 -2.73117139e+01
  7.32942878e-02 -1.49335697e+02 -1.06121939e+03 -4.21159179e+02
  2.51550591e+03  1.83724422e+06]
--> The predictions are:
 [229413.78100596 135125.5434525  151642.71785762 197480.35968323
 178000.77445763 292982.10538157 193144.56774838 165420.28269043
  97327.23653645 112258.39122245 181027.18284195 164794.56428412
 134956.62009103  16181.05857735  76271.30700601 339745.23240335
 102726.98326877 278098.51404953 113729.42185795 276191.9764485
 131850.33747646 154520.23799876 225677.89413218 206533.75512578
 136719.42315758 133389.66039239 246900.62401365 130096.20695259
 167229.53158595 245296.74534592  76350.8877046  222936.83217121
 144268.19154797  81720.35655604 162870.71918318 241958.59971808
 200874.60544753 198305.64054684 350488.71018652 148732.55668343
 320402.84891396  92620.64555843 126806.1849974  158810.25101805
 288730.03515691 228569.20554183  86331.34624277 295340.74215466
 186036.81228664 172210.98519465 293673.85544913 392590.26246152
 154129.69467145 175201.45219298 119438.24600202 243277.97807099
 166248.32698224  78751.86226734 219638.80273121 123854.43782374
 122463.41260017 187258.08597387 228945.04723788 147667.85736773
 251752.3678612  263754.20007407 169460.89833532 160622.16437139
 122675.58325278 177216.41266824  95292.47957753 110584.93103325
 127036.03613318 172282.9746051  143723.8807721  172175.65648406
 127404.18457779 249978.91709223 242690.47866716 199563.49772085
 192196.88934624 202349.97278579 137299.47789231 116187.53339191
  71182.10206329 121955.00381175 128640.87900334 198411.32485378
 164354.06000288 141851.24642379 229189.68348323 298533.44625139
 144847.98594172 170230.46383731 134114.57784168 178172.7301769
 159682.1657648  212870.06901067 236888.4781619  197158.39701324]
--> The Real Prices are:
 [227680 125000 117500 190000 163000 281213 185000 181000 115000 119900
 160000 223500 129000  60000 110000 394432 118500 286000 135000 260000
 138887 144000 213250 190000 148000 133000 239000 124000 165000 200000
 110000 241000 176000  40000 175000 245500 201000 174000 415298 142500
 350000 115000 137500 164500 395000 202900  73000 301500 173000 170000
 239000 451950 180000 190000 122000 233230 173900  79500 213500 135000
 136500 175000 239900 159500 248328 294000 149500 186700 154900 172500
 120000  79900 147000 179500 150000 162000 123000 271000 275000 175500
 170000 188000 133000 128500  82000 120000 144000 175000 146800 124000
 212000 341000 135000 171500 140000 158000 128000 208500 232000 185000]
--> The MAE =
 18289.990203121964